#!/usr/bin/env bash
{{ add_user_preconfig | default('') }}
{{ add_user_create_user_cmd | default('') }}
{{ add_user_change_homedir_cmd | default('') }}
{{ add_user_delete_passwd | default('') }}
{{ add_user_unlock_account | default('') }}